<!DOCTYPE html>
<html>
<head>
  <title>PromoteLiving</title>
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700' rel='stylesheet' type='text/css'>
  <link href="<%= gulp_css_path('application.css') %>" media='screen' rel='stylesheet'>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

  <%= javascript_tag do %>
    window.currentUser = <%=raw UserSerializer.new(current_user).to_json %>.user
    window.RAILS_ENV = '<%= Rails.env %>'
  <% end %>

<script src="<%= gulp_js_path('index.js') %>"></script>
</body>
</html>
